.navigation-bar>ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    display: flex;
    height: 50px;
    margin: 30px 0;
}

.navigation-bar>ul li {
    position: relative;
    margin: 8px;
    text-align: center;
    width: 75px;
}

.navigation-bar>ul li .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    transition: 0.5s;
    margin-bottom: 20px;
}

.navigation-bar>ul li .nav-text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11pt;
    opacity: 0;
    transition: 0.5s;
}

.navigation-bar>ul a.active li .nav-icon {
    color: var(--green);
    translate: 0px -5px;
    scale: 1.2;
    margin-bottom: 5px;
}

.navigation-bar>ul a.active li .nav-text {
    color: var(--font-light);
    opacity: 1;
}

.navigation-bar>ul .nav-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    width: 91px;
    height: 70px;
    transition: 0.5s;
}

.navigation-bar>ul .nav-indicator::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 18px;
    border-radius: 10px;
    bottom: 10px;
    background-color: var(--green);
    transition: 0.5s;
}

.navigation-bar>ul .nav-indicator::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 10px;
    transition: 0.5s;
    box-shadow: 0 0 0 0 transparent,
        0px -30px var(--green),
        30px -12px var(--green),
        -30px -12px var(--green),
        25px 15px var(--green),
        -25px 15px var(--green);

}

.navigation-bar>ul a:nth-child(2).active~.nav-indicator {
    translate: calc(91px * 1) 0;
}

.navigation-bar>ul a:nth-child(2).active~.nav-indicator::after {
    rotate: calc(360deg * 1);
}

.navigation-bar>ul a:nth-child(3).active~.nav-indicator {
    translate: calc(91px * 2) 0;
}

.navigation-bar>ul a:nth-child(3).active~.nav-indicator::after {
    rotate: calc(360deg * 2);
}
