.markdown-post {
    width: 80%;
    border: solid 1.5px #000;
    border-radius: 20px;
    padding: 0 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.markdown-post-date {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-align: right;
    min-width: 110px;
    padding-left: 10px;
}

.markdown-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.markdown-post-image {
    width: 100%;
    height: auto;
}

.markdown-post-content img,
.markdown-post-content audio,
.markdown-post-content video {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .markdown-post-header {
        flex-direction: column;
        align-items: start;
    }
}
