.post-card-title {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-date {
    float: right;
    margin: 0 5px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (max-width: 768px) {
    .post-card-title {
        max-width: 300px;
    }
}
