.header {
    display: flex;
    justify-content: space-between;
}

.header>.head-title {
    display: flex;
    justify-content: start;
    pointer-events: none;
}

.header .head-text {
    height: 70px;
    font-weight: 800;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header .resume {
    margin-top: -15px;
    display: flex;
    align-items: center;
}

.header .download-resume>span {
    position: relative;
    display: flex;
    align-items: center;
    border: solid 2px var(--purple);
    border-radius: 20px;
    padding: 3px 0;
    transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header .download-resume>span>svg {
    margin: 0 10px;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}

.header .download-resume:hover>span {
    background-color: var(--purple);
    box-shadow:
        0 0 10px 0 var(--purple),
        0 2px 10px 0 #000,
        0 0 20px 0 var(--purple);
    scale: 1.1;
}

.header .download-resume:hover>span::before {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header>.head-title {
        justify-content: center;
    }

    .header .resume {
        margin: 20px 0;
    }
}
