.header {
    display: flex;
    justify-content: space-between;
}

.header>.head-title {
    display: flex;
    justify-content: start;
}

.header .head-text {
    height: 70px;
    font-weight: 800;
    font-size: 20pt;
    display: flex;
    margin-top: 25px;
}

.header .resume {
    margin-top: -15px;
    display: flex;
    align-items: center;
}

.header .download-resume>span {
    display: flex;
    align-items: center;
    border: solid 2px var(--blue);
    border-radius: 20px;
    transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header .download-resume>span>svg {
    margin: 0 10px;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}

.header .download-resume:hover>span {
    background-color: var(--blue);
    color: #000;
    box-shadow: 0 3px 10px 0 #000;
    scale: 1.1;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header>.head-title {
        justify-content: center;
    }

    .header .resume {
        margin: 20px 0;
    }
}
