.shift-card {
    position: relative;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
    padding: 0px 10px;
    padding-bottom: 20px;
    z-index: 0;
    overflow: hidden;
    transition: scale 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    margin: 35px 0;
    cursor: pointer;
    border: solid 3px #00000080;
    text-shadow: 0 3px 5px #000;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}


.shift-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(130deg, transparent 0% 33%, var(--purple) 66%, var(--pink) 85%, var(--yellow) 100%);
    background-size: 300% 300%;
    background-position: 0% 0%;
    transition: background-position 0.4s ease-in-out;
    z-index: -1;
}

.shift-card::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(#00000040 8%, transparent 8%);
    background-size: 5vmin 5vmin;
    background-position: 0% 0%;
    transition: background-position 0.4s ease-in-out;
    z-index: -1;
}

.shift-card:hover {
    scale: 1.1;
    box-shadow: 0 5px 10px #000;
}

.shift-card:hover::before {
    background-position: 100% 100%;
}

.shift-card:hover::after {
    background-position: -20% 0%;
}

@media screen and (max-width: 768px) {
    .shift-card {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        max-height: 350px;
    }
}

