.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    pointer-events: visible;
}

.social-icon {
    margin: 10px 10px;
    transition: scale 0.1s;
}

.social-icon a svg {
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    scale: 1.2;
}
