a,
a:visited {
    color: var(--font);
    text-decoration: none;
}

.App {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

.App-dark {
    --bg: var(--bg-dark);
    --font: var(--font-dark);

}

.App-light {
    --bg: var(--bg-light);
    --font: var(--font-light);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    color: var(--font);
    padding-bottom: 60px;
}

.waves {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(/src/assets/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    bottom: 0;
}

.my-social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 700;
    text-decoration: underline;
    font-size: 15pt;
}
