@import 'https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-dark: #1f303f;
  --bg-light: #e0e0e0;
  --font-dark: #fff;
  --font-light: #000;
  --green: #29fd53;
  --red: #f44336;
  --yellow: #ffa117;
  --blue: #2196f3;
  --purple: #b145e9;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--font-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
