.glow-card {
    position: relative;
    max-width: 500px;
    max-height: 200px;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0px 10px;
    padding-bottom: 20px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: scale 0.2s ease-in-out;
    --glow-color: rgb(255, 255, 255, 0.5);
    margin: 35px 0;
}

.glow-card:hover {
    cursor: pointer;
    scale: 1.1;
    --glow-color: linear-gradient(#00f2ff, #d400d4);
}

@keyframes rotate-glow {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.glow-card::before {
    content: "";
    position: absolute;
    z-index: -2;
    background: var(--glow-color);
    height: 600px;
    width: 70px;
    animation: rotate-glow 2s linear infinite;
}

.glow-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 3px;
    border-radius: 8px;
    background: var(--bg);
}
